.textarea {
    color: #515e66;
    height: 100px;
    width: 180px;
    resize: none;
    font-size: 30px;
}

.wrapper {
    width: 200px;
    margin: 50px auto;
}

.wrapper__calc {
    width: 200px;
    background: grey;
}
.wrapper__area-box {
    text-align: center;
    padding: 10px 0;
}

.buttons {
    display: grid;
    gap: 5px;
    padding: 10px 7px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    :last-child {
        width: 100%;
        grid-column: span 2;
    }
}

.btn {
    width: 40px;
    height: 40px;
}
